.container {
    background: rgb(170, 185, 181);
    margin: 0 auto;
}
.shop_button {
    width: 100%;
    position: relative;
}

.shop_button .btn_post {
    cursor: pointer;
    position: absolute;
    width: 100px;
    top: 15px;
    right: 15px;
}

.shop__main {
    width: 80%;
    height: 80%;
    
}
.shop__link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    position: relative;
    margin: 3em auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.item {
    width: 300px;
    margin: 0 auto;
}

.item > img {
    object-fit: contain;
    width: 100%;
}
/* .item > p {
    text-align: start;
} */