/* html {
    height: 600px;
} */

/* body {
    padding: 1em 0;
    height: 600px;
    background: rgb(255, 236, 130);    
}

#root {
    height: 600px;
} */


.loginBody {
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginBody .loginInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-bottom: 1px solid lightgray; */
    /* height: 70px; */
}

.loginInfo__input  {
    /* height: 15px; */
    border: none;
    border-bottom: 1px solid lightgray;
    /* width: 100%; */
    width: 35vw;
    height: 5vh;
    padding: 3px 5px;
    margin-top: 5px;
   
}

.loginOption{
    margin-bottom: 1.5em;
}
.loginBtn{
    /* width: 100%; */
    width: 35vw;
    border-radius: 20px;
    border: none;
    padding: 10px;
    background: rgb(255, 236, 130); 
    /* border: 1px solid lightgray; */
    color: black;
    cursor: pointer;
}

.loginBtn:hover {
    background: black; 
    color: white;
}

.authBtns {
    display: flex;
    justify-content: center;
    width: 35vw;
}

.authBtns .authBtn {
width: 2rem;
background: transparent;
border: none;
margin: 0 0.25rem;
cursor: pointer;

}
/* 
.authBtns .authBtn {
    width: 2rem;
    border: none;
    margin: 0 0.25rem;
    cursor: pointer;
    
    } */

.authBtn .svg-inline--fa{
    font-size: 1.8rem;
    padding: 2px;
    z-index:-1000;

}

.authBtn .svg-inline--fa:hover{
    /* padding: 2px; */
    /* border-radius: 50%; */
    /* font-size: 1.5rem; */
    /* background: lightgray; */
    /* background: rgb(255, 236, 130); */
    color: gray; 
}

.signup {
    margin-top: 1.5em;
    /* padding: 5px; */
    
}
.signsUpBtn:hover {
    color: black;
    background: rgb(255, 236, 130); 
}
.signsUpBtn {
    /* width: 100%; */
    width: 35vw;
    border-radius: 20px;
    border: none;
    padding: 10px;
    /* border: 1px solid lightgray; */
    background: black; 
    color: white;
    cursor: pointer;
}

